//? Общие стили для кнопок карточек
.btn-card {
  text-align: center;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  outline: none;
  border: none;
  margin: 0;
  background-color: transparent;
  color: black;
  display: flex;
  gap: 0.2rem;
  align-items: center;
  transition: 0.4s;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.4rem;
}

.card--light {
  .btn-card {
    color: black;
  }

  .btn-like,
  .btn-dislike,
  .btn-mark,
  .btn-edit {

    &:hover {
      color: #2231AA;

      svg {
        fill: #2231AA;
      }
    }
  }
}


//? Стили для большой карточки
.card--bg {
  width: 100%;
  margin: 0 auto;
  padding: 0 0.5rem;

  .card__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .card__info {
      max-width: 60%;
      display: flex;
      flex-flow: row wrap;

      .card__date {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        user-select: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #8D8E97;
      }

      .card__title {
        width: 100%;
        text-align: left;
        user-select: none;
        overflow: hidden;
        // ? Ограничение контента по строкам:
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;

        h3 {
          font-weight: 700;
          font-size: 2rem;
          line-height: 2.75rem;
          color: #313037;
        }
      }

      .card__description {
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        user-select: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #8D8E97;
        overflow: hidden;
        // ? Ограничение контента по строкам:
        // display: -webkit-box;
        // -webkit-line-clamp: 3;
        // -webkit-box-orient: vertical;
      }
    }

    .card__image {
      max-width: 35%;

      & img {
        width: 100%;
        height: 250px;
      }
    }

    &:hover {
      .card__title {
        color: #2231AA;
      }

      cursor: pointer;
    }
  }

  .card__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    margin-top: 1.5rem;
    padding-bottom: 1.8rem;
    margin-bottom: 2rem;

    .card__like {
      display: flex;
    }

    .card__edit {
      display: flex;

      .btn-mark {
        margin: 0;
      }
    }
  }
}

//? Стили для средней карточки
.card--md {
  width: 47%;
  margin: 0;
  padding: 0 0.5rem;
  margin-bottom: 2.2rem;

  .card__main {
    display: flex;
    flex-flow: column-reverse;
    justify-content: space-between;

    .card__info {
      max-width: 100%;
      display: flex;
      flex-flow: row wrap;
      margin-top: 1rem;

      .card__date {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        user-select: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #8D8E97;
      }

      .card__title {
        width: 100%;
        text-align: left;
        user-select: none;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;

        h3 {
          font-weight: 600;
          font-size: 1.12rem;
          line-height: 28px;
          color: #313037;
        }
      }

      .card__description {
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        user-select: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #8D8E97;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: none;
      }
    }

    .card__image {
      max-width: 100%;

      & img {
        width: 100%;
        height: 250px;
      }
    }

    &:hover {
      .card__title {
        color: #2231AA;
      }

      cursor: pointer;
    }
  }

  .card__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    margin-top: 1.5rem;
    padding-bottom: 2.2rem;

    .card__like {
      display: flex;
    }

    .card__edit {
      display: flex;

      .btn-mark {
        margin: 0;
      }
    }


  }

}

//? Стили для маленькой карточки
.card--sm {
  width: 100%;
  margin: 0;
  margin-bottom: 2rem;
  padding-left: 1rem;

  .card__main {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    .card__info {
      max-width: 60%;
      display: flex;
      flex-flow: row wrap;

      .card__date {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        user-select: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.5rem;
        color: #8D8E97;
      }

      .card__title {
        width: 100%;
        text-align: left;
        user-select: none;
        overflow: hidden;

        h3 {
          font-weight: 600;
          font-size: 1.12rem;
          line-height: 1.75rem;
          color: #313037;
        }
      }

      .card__description {
        width: 100%;
        justify-content: flex-start;
        text-align: left;
        user-select: none;
        font-weight: 400;
        font-size: 1rem;
        line-height: 1.75rem;
        color: #8D8E97;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: none;
      }
    }

    .card__image {
      max-width: 35%;

      & img {
        width: 96px;
        height: 96px;
      }
    }

    &:hover {
      .card__title {
        color: #2231AA;
      }

      cursor: pointer;
    }
  }

  .card__footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-bottom: 1px solid #DADADA;
    margin-top: 0.5rem;
    padding-bottom: 2rem;

    .card__like {
      display: flex;
    }

    .card__edit {
      display: flex;

      .btn-mark {
        margin: 0;
      }
    }
  }
}

.card--dark .card__main .card__info .card__title h3 {
  color: #fff;
}

.card--dark {

  .btn-card {
    color: #fff;
  }

  .btn-like,
  .btn-dislike,
  .btn-mark,
  .btn-edit {

    &:hover {
      color: #9aa6ff;

      svg {
        fill: #9aa6ff;
      }
    }
  }

  &:hover {
    .card__main {
      .card__info {
        .card__title {
          color: #9aa6ff;
        }
      }
    }
  }
}