.App {
  max-width: 120rem;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  background-color: #F3F3F3;

.wrapper {
  max-width: 75rem;
  margin: 0 auto;
}

}

.App--dark {
  background-color: rgb(50, 50, 50);
}