.App {
  //-width: 120rem;
  margin: 0 auto;
  height: 100%;
  text-align: center;
  min-height: 100vh;
  background-color: #F3F3F3;
.content{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 90vh;
}
  .wrapper {
    max-width: 90%;
    margin: 0 auto;
  }


}

.App--dark {
  background-color: rgb(50, 50, 50);
}